!!! Traditional
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "susan.css"}
    %title
      Susan Ledig Events &mdash; About
  %body
    .main
      .title
      .clear
      .content
        %p
          &nbsp; Susan Ledig Events has been creating exquisite events for over 15 years in the Santa Barbara area.
          %img{:src => "susan_about.jpg", :style => "float:right; margin:0 5px 0 10px;"}
        %p
          &nbsp; We do this by establishing a strong connection with the client, paying close attention to every detail and providing exceptional service.  Ms. Ledig, the proprietor, utilizes her innate creativity and background in the Fine Arts to develop intriguing themes and styles.  She combines this knowledge with extraordinary cuisine to produce a memorable experience for the discerning client and their well-healed guests.
        %p
          &nbsp; As a local Santa Barbara business we have had the pleasure of working for wonderful clients.  Whether your party is an informal beach gathering or a sumptuous fete for hundreds Susan Ledig Events are unsurpassed every time.  Our history of working in the beautiful homes of Montecito, Malibu and Beverly Hills as well as out of state locations, brings to the table vast and unparalleled experience. 
        %p
          &nbsp; As the Host, you will be free to enjoy your time with your friends and family without a care.  Susan Ledig Events will handle every detail from event and menu planning, to rentals, flowers, staff and valet.  Our extensive culinary experience allows us to tailor menus to fit any dietary requests.  Additionally the entire staff has been personally selected and trained by Ms. Ledig to exceed your highest expectations.
          %br
          %strong
            Allow us to cater to your every desire.
      =partial(:footer_links)
