!!! Traditional
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "susan.css"}
    %title
      Susan Ledig Events &mdash; Contact
  %body
    .main
      %img{:src => "title.png", :style => "float:left;"}
      .content
        %p{:style => "width:30px;"}
          Clients 
          Just to name a few; 
          Paul and Natalie Orfalea
          E. Duke Vincent  and Pamela Hensley
          Linda and Frederick Gluck
          Mr. and Mrs. Peter Douglas
          Mrs. and Mr. Robert Stohl
          Sharol and Wayne Siemens
          Chris Blair and Heidi Basset Blair
          Sarah Argyropoulos
          Dan and Rae Emmett
          Ginger and Brett Mathews
          Jan De Witt
          Tiffany & Co.
          Cate School
          Run Phil Productions
          Knollwood Tennis Club
          Macerich
          Pearl Chase Society
          Eric P.Hvolboll
          John Densmore
          Dr. Malovos D.D.S.
          Dr. Bill Morton-Smith                     
        %p
          Philanthropy 
          Retinoblastoma International
          CALM
          United Way of Santa Barbara
          Breast Cancer Resource Center
          The Rhythmic Arts Project
          St. Brigit’s outreach dinners
          Dream Foundation
          
      .bottom-links
        =partial(:footer_links)
    .footer