!!! Traditional
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "susan.css"}
    %title
      =::Settings.site_name
  %body
    .main
      %img{:src => "title.png", :style => "float:left;"}
      .content
        .clients{:style => "background: url(\"#{::Settings.assets_location}thank-you2.png\") no-repeat scroll 0 0 transparent; width:985px; height:2401px;"}
          %h1
            Clients
          %span{:style => "padding-left:5px;"}
            just to name a few...
          %ul
            %li
              Paul and Natalie Orfalea
            %li  
              E. Duke Vincent  and Pamela Hensley
            %li
              Linda and Frederick Gluck
            %li
              Mr. and Mrs. Peter Douglas
            %li
              Mrs. and Mr. Robert Stohl
            %li
              Sharol and Wayne Siemens
            %li
              Chris Blair and Heidi Basset Blair
            %li
              Sarah Argyropoulos
            %li  
              Dan and Rae Emmett
            %li
              Ginger and Brett Mathews
            %li
              Jan De Witt
            %li
              Tiffany & Co.
            %li
              Cate School
            %li
              Run Phil Productions
            %li
              Knollwood Tennis Club
            %li
              Macerich
            %li
              Pearl Chase Society
            %li
              Eric P.Hvolboll
            %li
              John Densmore
            %li
              Dr. Malovos D.D.S.
            %li
              Dr. Bill Morton-Smith                     
          %h1
            Philanthropy 
          %ul
            %li
              Retinoblastoma International
            %li
              CALM
            %li  
              United Way of Santa Barbara
            %li  
              Breast Cancer Resource Center
            %li  
              The Rhythmic Arts Project
            %li  
              St. Brigit’s outreach dinners
            %li  
              Dream Foundation
      .clear        
      =partial(:footer_links)