!!! Traditional
%html
  %head
    %meta{:name => "google-site-verification", :content => "ATH3QNI9dqHZRqx2z1a72RC5-88iTiMJXlKi33mg-08"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "susan.css"}
    %title
      =::Settings.site_name
  %body
    .main
      .title
      .clear
      .content{:style => "background:none;"}
        %div{:style => "width:400px;"}
          %h1{ :style => "color:#fff; text-align:center; margin-top:10px"}
            805.886.6721
            %a.home-title{ :href => "mailto:susanledig@gmail.com"}
              susanledig@gmail.com

      .clear
      =partial(:footer_links)
