!!! Traditional
%html
  %head
    %meta{:name => "google-site-verification", :content => "ATH3QNI9dqHZRqx2z1a72RC5-88iTiMJXlKi33mg-08"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "susan.css"}
    %title
      Susan Ledig Events &mdash; Services
  %body
    .main
      %h1{:style => "color:#fff; text-align:center; font-size:2em;"}
        Services
      %div{:class => "content service"}
        %h2
          Personal Chef 
        Susan Ledig loves the creativity of cooking and is a very experienced personal chef, whether it is for a couple, family or large event. 
        %h2
          Drop offs
        Susan Ledig can deliver delicious and gorgeous food already prepared on her platters or yours, set it all up and leave.  When you are done, just put the platters outside and Susan will come back the next day to pick them up.
        %h2
          Cooking Classes
        Susan really enjoys sharing and teaching her cooking skills to others and makes it fun.
        %h2
          Kitchen Help
        Susan has a great team in the kitchen and if you need help she can provide it! Whether it is a person to plate up your own food, or clean up dishes, Susan can send you the right person.
        %h2
          Bartenders
        Susan is a fully trained bartender, experienced with what it takes to set up and tend bar in private homes and outside events.  She loves to create “specialty drinks” designed with the client in mind. She can also provide as many bartenders as the client needs. Susan has liability to serve alcohol and can either shop for your alcohol for your event or get it consigned threw The Wine Grotto in Montecito.
        %h2
          Wait Staff
        Just need a waiter or several, Susan Ledig personally trains her floor staff which are known for their attention to detail and professionalism, as well as looking sharp!
        Susan Ledig Events has liability for staff while on any site.
        %h2
          Event Planning
        Susan loves to help a client with an event from start to finish. She has a knack and experience for what works on a site and what it will take to fulfill the client’s wishes! Susan can also handle any vendor needed for the event i.e.; Rentals, Florist, Valet, Lighting, Music etc. .
        %h2
          Managing Events
        For those clients whom already have a personal chef, Susan has experience working with private chefs and estate managers. She can supply the staff needed as well as manage the staff for a client’s special occasion.
        %h2
          Concierge
        Need help planning a day or several with guests coming in town or a special occasion? Let Susan Ledig help you plan, execute and even cook something delicious for them!
      =partial(:footer_links)
    .footer

